/**
 * sidebar
 * 左侧菜单的样式，有暗色和亮色两种主题
 */

// 菜单样式
.i-layout-menu-side {
  background: var(--side-bg);

  // 隐藏菜单滚动条
  &-scrollbar-hide {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  // 菜单徽标样式
  &-badge {
    position: absolute !important;
    top: 16px;
    right: 46px;
    .ivu-badge-count {
      box-shadow: none;
    }
  }

  // 菜单样式
  &-submenu {
    background: var(--side-bg);

    // svg图标和右侧箭头
    .svg-icon {
      margin-right: 8px;
    }
    .ivu-menu-submenu-title-icon {
      margin-right: 0;
    }

    // 多层菜单
    .ivu-menu-submenu {
      .ivu-menu-submenu-title {
        background-color: var(--side-bg) !important;
      }
    }

    // 菜单的标题和副标题
    .ivu-menu-item {
      height: 48px;
      overflow: hidden;
      display: flex;
      align-items: center;
      .i-layout-menu-side-submenu-title-with-subtitle {
        position: relative;
      }
      .i-layout-menu-side-submenu-subtitle {
        display: block;
        font-style: normal;
        font-size: 12px;
        opacity: 0.5;
      }
    }
  }

  // 一层菜单不显示选中背景
  & > .i-layout-menu-side-submenu > .ivu-menu-item {
    background-color: transparent !important;
  }

  // 菜单折叠
  &-collapse {
    position: static !important;
    background: var(--side-bg) !important;
    &-top-level {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      text-align: center;

      &-item {
        background-color: var(--side-bg) !important;
      }
    }

    // 下拉菜单样式
    .ivu-select-dropdown {
      margin: 5px 0 5px 3px;
      min-width: 140px;
      background: var(--side-bg);

      // 更多级菜单项的样式
      .ivu-dropdown-item {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        transition: all 0.2s ease-in-out;

        // 隐藏多级菜单最右侧的线
        &.ivu-menu-item-active::after {
          width: 0px !important;
        }

        // 包含下级菜单的图标箭头样式
        &-arrow {
          position: absolute;
          top: 0;
          right: 16px;
          bottom: 0;
          left: auto;
          width: 14px;
          height: 14px;
          margin: auto;
        }
        // 开启父级名称的样式
        &.ivu-dropdown-show-parent {
          cursor: default;
          background: none !important;
          font-weight: 600;
          .svg-icon,
          .sub-ivu-icon {
            margin-right: 8px;
          }
        }

        // 开启副标题的样式
        .i-layout-menu-side-submenu-subtitle {
          margin-left: 12px;
          font-style: normal;
          font-size: 12px;
          opacity: 0.5;
        }
      }
    }

    // 折叠模式下dark菜单主题，展开的多级菜单背景
    &.ivu-menu-dark {
      // 第一层菜单选中样式
      .i-layout-menu-side-collapse-top-level-item-selected {
        color: #fff;
      }
      // 子菜单选中样式
      .ivu-select-dropdown {
        .ivu-dropdown-item {
          color: rgba(255, 255, 255, 0.7);
          // 当前被选中的样式
          &.ivu-menu-item-selected.ivu-menu-item-active {
            background-color: var(--primary-color) !important;
            color: #fff;
          }
          &:hover {
            background-color: transparent;
            color: #fff;
          }
        }
        .ivu-dropdown-item.ivu-dropdown-show-parent {
          border-bottom: solid 1px transparent;
          &:hover {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
  }
}

// mobile，tablet和desktop端，左侧菜单在固定时-包含logo的样式
.i-layout-sider-fix,
.i-layout-drawer-sider-fix {
  .i-layout-menu-side {
    height: 100vh;
    overflow-y: auto;
    &-has-logo {
      height: calc(100vh - 60px);
    }
  }
}
