/**
 * variables
 * 暴露的样式变量文件，主要包含常用的颜色，以及菜单样式变量
 */

// sidebar 的宽度，需要和settings.js中数值一致
@base-sider-width: 230px;

// 暗黑主题菜单风格
@base-dark-bg: #191b26; // 主题推荐颜色：#191b26 #2a2b4a
@base-dark-active-bg: #2d8cf0; // 菜单选中背景色

// 亮色主题菜单风格
@base-light-active-bg: #f0faff; // 菜单选中背景色
@base-light-active-text: #2d8cf0; // 菜单选中文字的颜色
