/**
 * view-design
 * 覆盖view-design一些组件的默认样式
 */

/* update: i-link如果有多个，增加右测距离 */
.i-link {
  &:not(:last-child) {
    margin-right: 5px;
  }
}

/* fix: 修复ivu alert的icon图标不垂直居中问题 */
.ivu-alert .ivu-alert-icon {
  top: auto;
  bottom: auto;
  margin: auto;
}

/* update: 所有的close关闭图标重新定义样式 */
.ivu-icon.ivu-icon-ios-close {
  transition: all 0.2s !important;
  border-radius: 4px;
  &:hover {
    background: #f3f3f3;
  }
  &:active {
    background: #e7e7e7;
  }
}
